.DropDown select {
  border: 0.3vmin solid black;
  font-size: 3vmin;
  width: 93%;
  height: 5.5vmin;
  margin: auto auto auto 0;
  background-color: var(--backgroundMainView);
  justify-self: center;
}
