.InformationForm{
    display: grid;
    grid-template-rows: 10fr 1fr;
}

.InformationForm .PersonalDetails{
    justify-self: center;
    padding: 1vw;
    overflow-x : hidden;
    overflow-y : auto;
    border: 0.6vmin solid black;
}

.InformationForm input[type=text], .InformationForm input[type=password], .InformationForm input[type=date], .InformationForm .genreSelection{
    padding: 2px;
    display: inline-block;
    border: none;
}

.InformationForm input[type=text], .InformationForm input[type=password], .InformationForm input[type=date] {
    background: #f1f1f1;
}

.InformationForm input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.InformationForm .genreSelection label, .InformationForm .genreSelection input[type=radio]{
    font-size: 1.8vmin;
    margin: 0 0.25vw 0 0.25vw;
}

.InformationForm .genreSelection{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.InformationForm .genreSelection p{
    margin: 0 auto 0 auto;
}

.InformationForm .registerbtn {
    grid-row: 4;
    background-color: var(--button-color);
    color: white;
    margin: 0 auto 5.6vmin auto;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    font-size: 1.7vw;
    height: 6vmin;
}

.InformationForm .registerbtn:hover {
    opacity:1;
}

@media (orientation: landscape){
    .InformationForm .PersonalDetails{
        display: grid;
        grid-row-gap: 0;
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        width: 90%;
        margin: 0 auto;

        vertical-align: middle;
        padding: 1vw;
    }

    .InformationForm label{
        font-size: 1vw;
        margin: 5px 0 22px 0;
        height : 1.5em;
    }

    .InformationForm input[type=text], .InformationForm input[type=password], .InformationForm input[type=date], .InformationForm .genreSelection{
        width: 80%;
        margin: 0 auto 22px auto;
        height: 1.5em;
        font-size: 1.2vw;
    }

    .InformationForm .PersonalDetails .email{
        width: 92%;
        grid-column-start: 2;
        grid-column-end: -1;
    }

    .InformationForm .registerbtn {
        width: 95%;
    }
}

@media (orientation: portrait){
    .InformationForm .PersonalDetails{
        display: grid;
        grid-row-gap: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 80%;
        margin: 0 auto;
        vertical-align: middle;
    }

    .InformationForm label{
        height : 1.5em;
    }

    .InformationForm input[type=text], .InformationForm input[type=password], .InformationForm input[type=date], .InformationForm .genreSelection{
        width: 80%;
        margin: 0 auto 22px auto;
        height: 1.5em;
    }

    .InformationForm .registerbtn {
        width: 85%;
    }
}