.position_form{
    width: 80%;
    height: calc(85vh - 6.5vw - 2.5vmax);
    margin: 5vmin auto;
    display: grid;
    grid-template-rows: 10vmin 1fr 10vmin;
    justify-self: center;
    vertical-align: middle;
    border: 0.6vmin solid black;
    padding: 1vw;
}

.position_form h1 {
    margin: auto;
    font-size: 2.5vw;
    text-align: center;
}

.position_form .info_area p {
    text-align: center;
    justify-self: stretch;
    vertical-align: middle;

    color: #009e11;

    margin: auto;
    font-size: 4vmin;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.position_form .position_container {
    height: 10vmin;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 4vmin 1fr;
    border: 0.3vmin solid black;
    padding: 0.5vmin 0.5vmin 0.5vmin 1.5vmin;
    margin: 1vmin auto;
}

.position_form .position_container * {
    margin: auto 0.4vmin;
}

.position_form .position_container p {
    font-size: 3.5vmin;
}

.position_form .position_container input[type='text'] {
    width: 85%;
    height: 80%;
    justify-self: left;
    font-size: 3vmin;
    padding-left: 1vmin;
}

.position_form .position_container select {
    border: 0.3vmin solid black;
    font-size: 3vmin;
    width: 90%;
    height: 5vmin;
    margin: auto auto auto 0;
    background-color: white;
    justify-self: center;
}

.position_form .position_container img {
    width: 6vmin;
    margin: auto;
    grid-row: 1 / 3;
    grid-column: 3;
    vertical-align: middle;
}

.position_form .input_button {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    margin: auto;

    font-size: 1.7vw;
    border: 0.3vmin solid black;

    height: 7vmin;
}

.position_form .add_position {
    width: 90%;
    height: 60%;
    font-size: 1.7vw;
    margin: auto;
}

.position_form .delete_position {
    grid-row: 1 / 3;
    grid-column: 3;
}

.position_form .hidden {
    visibility: hidden;
}

@media (orientation: portrait) {
    .position_form {
        margin: auto auto 5vh;
        height: auto;
    }
}
