.Profile {
    display: grid;
    width: 95%;
    height: 100%;
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
    vertical-align: middle;
    margin: auto;
    grid-template-columns: 5fr 3fr;
}

@media (orientation: portrait) {
    .Profile {
        grid-template-columns: 1fr;
    }
}