:root {
    --je-name: "ETIC INSA Technologies";
    --font: "Arial, sans-serif";
    --left-color: rgba(0, 83, 96, 0.8);
    --right-color: rgba(155, 202, 139, 1);
    --component-bg-color: rgba(155, 202, 139, 1);
    --background-color: rgb(105, 115, 127);
    --button-color: green;
}
