.MemberArray {
    display: grid;
}

.MemberArray table {
    font-family: Arial, Helvetica, sans-serif;
    border: 0.3vmin solid black;
    border-collapse: collapse;

    margin: auto;

    height: 100%;
}

.MemberArray .info {
    font-size: 2.5vw;
    margin: auto;
    padding-top: 10vw;
    text-align: center;
    height: 40%;
}

.MemberArray caption {
    margin: 0 0 1vmin 0;
}

.MemberArray thead, tbody {
    display: block;
    table-layout: fixed;
    width: 100%;
}

.MemberArray thead {
    background-color: rgb(155, 202, 139);
    margin-bottom: 0.3vw;
    box-shadow: 0 0.2vw 0.3vw #888888;
}

.MemberArray tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

.MemberArray td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1vmin;
    border-bottom: 0.2vmin solid black;
    border-left: 0.2vmin solid black;
}

.MemberArray td:first-child, th:first-child{
    border-left: 0;
}

.MemberArray tr:last-child td {
    border-bottom: 0;
}

.MemberArray td {
    cursor: pointer;
}

.MemberArray tr {
    background-color: white;
}

.MemberArray tr:nth-child(even) {
    background-color: #f2f2f2;
}

.MemberArray tr:hover {
    background-color: #ddd;
}

.MemberArray th {
    color: white;
    background-color: rgb(155, 202, 139);

    text-align: left;
}