.MemberArray {
    display: grid;
}

.MemberArray table {
    font-family: Arial, Helvetica, sans-serif;
    border: 0.3vmin solid black;
    border-collapse: collapse;

    margin: auto;

    height: 100%;
}

.MemberArray .info {
    font-size: 2.2vw;
    margin: auto;
    padding-top: 10vw;
    text-align: center;
    height: 40%;
}

.MemberArray .data{
    font-size: 2.2vw;
    text-align: center;
    height: 50vh;
}

.MemberArray caption {
    margin: 0 0 1vmin 0;
}

.MemberArray thead, tbody {
    display: block;
    table-layout: fixed;
    width: 100%;
}

.MemberArray thead {
    background-color: rgb(155, 202, 139);
    margin-bottom: 0.3vw;
    box-shadow: 0 0.2vw 0.3vw #888888;
}

.MemberArray tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

.MemberArray td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1vmin;
    border-bottom: 0.2vmin solid black;
    border-left: 0.2vmin solid black;
}

.MemberArray td:first-child, th:first-child{
    border-left: 0;
}

.MemberArray tr:last-child td {
    border-bottom: 0;
}

.MemberArray td {
    cursor: pointer;
}

.MemberArray tr {
    background-color: white;
}

.MemberArray tr:nth-child(even) {
    background-color: #f2f2f2;
}

.MemberArray tr:hover {
    background-color: #ddd;
}

.MemberArray th {
    color: white;
    background-color: rgb(155, 202, 139);

    text-align: left;
}

.MemberArray .pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    vertical-align: middle;
    justify-items: center;
    align-items: center;

}

.MemberArray .pagination input{
    grid-row: 1;
    text-align: center;
    vertical-align: middle;
    width: 12vmax;
    font-size: 1.1vmax;
    border: 0.2vmin solid black;
    height: 4.5vh;
    margin : 2vh 0.5vw 0.2vh 0.5vw;
}

.MemberArray .pagination p{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    vertical-align: middle;
    font-size: 1.1vmax;
    display: grid;
    margin : 0.2vh auto 1vh auto;
}
