.Connection {
    display: grid;

    width: 100%;
    height: 100%;
}

.Connection .connect_section {
    display: grid;
    height: 100%;
}

.Connection .connect_form {
    display: grid;
    grid-template-rows: 1fr repeat(5, 6.2vmin) 10fr;

    background-color: rgba(155, 202, 139, 1);

    justify-self: center;
    vertical-align: middle;
    margin: 10vh auto;
    padding: 1%;

    border: 0.45vmin solid black;

    width: 40vmin;
    height: 50vmin;
}

.Connection .info_area {
    color: red;
    text-align: center;
    margin: auto;
    font-size: 2.4vmin;
    width: 90%;
    height: 90%;
}

.Connection .connect_form p {
    margin: auto auto 0 auto;
    font-size: 3.8vmin;
    width: 95%;
    height: 4vmin;
}

.Connection .connect_form a {
    margin: auto;

    text-decoration: none;
    color: #009e19;

    font-size: 3vmin;
}
.Connection .connect_form a:hover {
    text-decoration: underline;
}

.Connection .connect_form input[type="text"], input[type="password"] {
    width: 95%;
    height: 4vmin;
    margin: auto;
    padding-left: 0.7vmin;
    font-size: 3vmin;
    background-color: white;
    justify-self: center;
}

.Connection .connect_input {
    cursor: pointer;
    color: white;
    background: #009e0f;
    border: 0.3vmin solid black;

    margin: auto;
    font-size: 3.5vmin;
    width: 60%;
    height: 6vmin;
}

/* Forgot password button css */
.Connection .forgot_password
{
    cursor      : pointer                     ;
    color       : ghostwhite                ;
    background  : none                        ;
    border      : none                        ;

    margin      : auto                        ;
    height      : 3vmin                       ;
    font-size   : 2.1vmin                     ;
    font-style  : italic                      ;
}

.modal
{
    text-align: center;
}

/* Modal text style */
.modal .text-content
{
    background-color       : #9BCA8B       ;
    font-weight            : bold            ;
    font-size              : 3.1vmin         ;
}

/* Link to admin */
.contact.toCopy {
    cursor              : pointer       ;
    color               : #009e11     ;
    margin-top          : 6vmin         ;
    border              : 0             ;
    text-decoration     : underline     ;
    font-size           : 3vmin         ;
}

/* "Copié" message design */
.contact.copied {
    display                 : inline-block      ;
    animation-duration      : 2s                ;
    animation-name          : displayColors     ;
    font-size               : 1.5vw             ;

    /* Padding margin and width */
    padding                 : 0.3vmin           ;
    margin                  : 1vw auto          ;
    width                   : auto              ;
}

/* Colors for animation */
@keyframes displayColors {

    /* When at 0% of the display ... */
    0% {
        color               : #009e11   ;
        background-color    : #9BCA8B   ;
    }

    /* When at 100% of the display ... */
    100% {
        color               : #009e11   ;
        background-color    : #9BCA8B   ;
    }
}