.Help {
    display: grid;
    overflow: hidden;

    width: 100%;
    height: 100%;
    text-align: center;
}

.Help .help_section {
    display: grid;
    grid-template-rows: 4vw 6.7vw 30vmin 1fr;

    margin: 3vmin auto;

    width: 95%;
}

.Help .help_section * {
    text-align: center;
    justify-self: center;

    margin: 0 auto;
    font-size: 3vw;
}

.Help .div1 {
    color: #000000;
    font-size: 1vw;
    text-align: center;
}
.Help .div2 {
    cursor: pointer;
    color: #009e11;
    text-decoration: underline;
    font-size: 1vw;
}
.Help .actu {
    font-size: 1vw;
}
.Help .div3 {
    color: #0c7466;
    font-size: 2vw;
    text-align: left;
}


.Help .social {
    text-decoration: none;
    text-align: center ;
}

.Help .logoTWITTER {
    width: 60px;
    max-height: 22vmin;
  }

  .Help .logoINSTA {
    width: 60px;

  }

  .Help .logoFB {
      height: 60px;
      width: 60px;

    
    
  }

  .Help .logoLINKEDIN {
    width: 60px;

  }
  .Help .contact.toCopy {
    cursor: pointer;
    color: #009e11;
    margin-top: 2vmin;
    background: white;
    border: 0;
    text-decoration: underline;
    font-size: 2vw;
}

.Help .contact.copied {
    display: inline-block;
    animation-duration: 2s;
    animation-name: display;

    color: white;

    font-size: 2vw;
    padding: 0.3vmin;
    margin: 1vw auto ;
    width: auto;
}

@keyframes display {
    0% {
        color: white;
        background-color: white;
    }
    30% {
        color: black;
        background-color: orange;
    }
    100% {
        color: white;
        background-color: white;
    }
}
