.Help {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
}

.Help .help_section {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 3vmin auto;
    width: 95%;
}

.Help .help_section * {
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    font-size: 3rem;
}

.Help .byetic {
    color: #000000;
    font-size: 2rem;
    text-align: center;
}

.Help .logoETIC {
    width: 220px;
    margin-bottom: 0px;
}

.Help .actu {
    font-size: 1.5rem;
    margin-top: 0px;
}

.Help .social * {
    text-decoration: none;
    text-align: center;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

.Help .explications {
    color: #0c7466;
    font-size: 1rem;
    text-align: center;
}

.Help .contact.toCopy {
    cursor: pointer;
    color: #009e11;
    background: white;
    border: 0;
    text-decoration: underline;
    font-size: 1rem;
}

.Help .contact.copied {
    display: inline-block;
    animation-duration: 2s;
    animation-name: display;
    color: white;
    font-size: 2vw;
    padding: 0.3vmin;
    margin: 1vw auto;
    width: auto;
}

@keyframes display {
    0% {
        color: white;
        background-color: white;
    }
    30% {
        color: black;
        background-color: orange;
    }
    100% {
        color: white;
        background-color: white;
    }
}