.Header {
  background-image: var(--backgroundHeader);
  vertical-align: middle;
  border-bottom: 0.3vmin solid black;
  width: 100%;
  height: 100%;
}

.Header .header_a {
  display: grid;
  grid-template-columns: 12vw 1fr 12vw;

  vertical-align: middle;
  text-decoration: none;

  border-bottom: 0.3vmin solid black;

  width: 100%;
  height: 100%;
}

.Header .home_logo {
  grid-row: 1;
  grid-column: 1;
  margin: auto 1vw;
  padding: 0;
  font-size: 2vw;
  height: 80%;
}

.Header .title {
  color: var(--titleHeader);
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-size: 5vw;
  width: 100%;
  max-height: 100%;
}
