:root {
    --board-left-width: 12vw;
    --board-right-width: 12vw;
}

.Home .home {
    background-size: 100% auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

.Home .home_title {
    vertical-align: middle;
    margin: auto;
    font-size: 5vw;
    width: 80%;
    height: 100%;
}

.Home .welcome {
    margin: 6vmin auto 10vmin auto;
}

.Home .welcome_je {
    font-weight: bold;
    margin: auto;
}

.Home .welcome_je::after {
    content: var(--je-name);
}