.ProfileForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr) 10vmin;

    background-color: white;

    justify-self: center;
    vertical-align: middle;
    border: 3px solid black;
    margin: 5vmin auto;
    padding: 1vw;

    width: 90%;
    height: 68vmin;
}

.ProfileForm * {
    width: 85%;
}

.ProfileForm .needed:after {
    content: "*";
    color: red;
}

.ProfileForm input[type="text"] {
    border: 2px solid black;
    font-size: 3vmin;
    padding-left: 1vmin;
    height: 5vmin;
}

.ProfileForm p, input[type="text"] {
    justify-self: center;
}

.ProfileForm .right {
    grid-column: 2;
}

.ProfileForm .info_area p {
    text-align: center;
    justify-self: center;
    vertical-align: middle;

    z-index:1;
    color: #009e11;

    margin: auto;
    font-size: 4vmin;
}

.ProfileForm p {
    font-size: 3.7vmin;
    margin: auto auto 0 auto;

    height: 4.7vmin;
}

.ProfileForm .image {
    display: grid;

    margin: auto auto 0 auto;
    background-color: white;
    z-index: 2;

    animation-duration: 2s;

    width: 100%;
    height: 22vmin;
}

.ProfileForm .div_button {
    display: grid;
    justify-self: center;
    margin: auto auto 0.5vmin auto;
    height: 80%;
}

.ProfileForm .input_button {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    margin: auto;

    font-size: 1.7vw;
    border: 3px solid black;

    height: 70%;
}

.ProfileForm .input_button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.ProfileForm .password {
    color: black;
    background: #dddddd;
}

.ProfileForm .update {
    color: white;
    background-color: #009e0f;
}