@media (orientation: landscape){
    .MemberCreation{
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-template-rows: 2fr 0.5fr 10fr;
        grid-column-gap: 0;
        width: 100%;
        height: 100%;
        justify-self: center;
        vertical-align: middle;
        margin: auto;
        overflow-y: scroll;
    }

    .MemberCreation h1 {
        margin: auto;
        font-size: 2.2vw;
        text-align: center;
    }

    .MemberCreation h2{
        margin: 0;
        font-size: 1.5vw;
        text-align: center;
    }

    .MemberCreation h3 {
        margin: auto;
        font-size: 1.2vw;
        text-align: center;
    }

    .MemberCreation .position_form{
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: -1;
    }

    .MemberCreation .HeaderContainer{
        margin: 1vw auto 1vw auto;
    }
}

@media (orientation: portrait){
    .MemberCreation{
        display: grid;
        //grid-template-rows: 2fr 10fr 0.5fr 10fr;
        grid-column-gap: 0;
        width: 100%;
        height: 100%;
        justify-self: center;
        vertical-align: middle;
        margin: auto;
        overflow-y: auto;
    }

    .MemberCreation h1 {
        margin: auto;
        font-size: 5vw;
        text-align: center;
    }

    .MemberCreation h2{
        margin: 0;
        font-size: 3vw;
        text-align: center;
    }

    .MemberCreation h3 {
        margin: auto;
        font-size: 3vw;
        text-align: center;
    }

    .MemberCreation .position_form{
        grid-row: 2;
        height: calc(50vmin + 18vw);
    }

    .MemberCreation .HeaderContainer{
        grid-row: 1;
        margin: 1vw auto 1vw auto;
    }
}

.MemberCreation .description{
    color: #009e11;
}

.MemberCreation .error_info{
    color: #eb2f06;
}



