
.Data{
    display: grid;
    overflow-y: scroll;
}

.Data .import{
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
}

.Data .import h2{
    text-align: center;
    font-size: 2vw;
}

.Data .import .warning{
    text-align: center;
    color: #eb2f06;
    font-size: 1.2vw;
}

.Data .affirmation{
    text-align: center;
    color: var(--button-color);
}

.Data #drop_zone{
    border-radius: 5px;
    border-style: dashed;
    justify-self: center;
    width:  80%;
    height: 80%;
}

.Data .indication{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
    width:  100%;
    height: 100%;
}

.Data #drop_zone h3,.Data .upload{
    font-size: 1.2vw;
    text-align: center;
}

.Data .upload{
    margin: auto;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2vmin;
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
    opacity: 0.9;
}

.Data .upload:hover {
    opacity: 1;
}

.Data input[type=file]{
    display: none;
}

.Data input[type=button]{
    width: 80%;
    background-color: var(--button-color);
    color: white;
    margin: 0 auto 5.6vmin auto;
    border: none;
    font-size: 1.7vw;
    height: 6vmin;
    cursor: pointer;
    opacity: 0.9;
}

.Data input[type=button]:hover {
    opacity: 1;
}

.Data .export{
    text-align: center;
}

.Data #download{
    width: 40%;
    height: 10vh;
    margin:  30% auto 0 auto;
    display: block;
    justify-self: center;
}

@media(orientation: landscape){
    .Data{
        grid-template-columns: 1fr 1fr;
    }
}

@media(orientation: portrait){
    .Data{
        grid-template-rows: 1fr 1fr;
    }
}